@import '../../styles/design-tokens.scss';
@import '../../styles/colors.scss';

.tag {
  border-radius: var(--radius-full);
  padding: 8px 12px;
  height: fit-content;
  white-space: nowrap;

  &[data-theme='light'] {
    color: $color--text-blue;
    background: $color--light;
  }
  &[data-theme='blue'] {
    color: $color--container-blue;
    background: $color--lightblue;
  }
}
