@import '../../styles/design-tokens.scss';
@import '../../styles/colors.scss';

.tag {
  border-radius: var(--radius-full);
  padding: 8px 12px;
  height: fit-content;
  white-space: nowrap;
  border: 2px solid var(--color-primary-500);
  background: var(--color-primary-200);
  color: var(--color-primary-700);
  font-weight: var(--font-semibold);
}
