@import '../../../../styles/design-tokens.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';

.content {
  text-align: center;
}

.title {
  @include heading-lg;
  @include gradient-primary-to-light;
  font-size: var(--text-6xl);
  margin-bottom: var(--space-6);
}

.intro {
  @include body-lg;
  color: $color--light;
  margin-bottom: var(--space-16);
  line-height: var(--leading-relaxed);
  font-size: var(--text-2xl);
}
