@import '../../../../styles/colors';

.container {
  display: flex;
  flex-wrap: wrap;
}

.img {
  display: block;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.description {
  max-width: 590px;
  margin-top: 20px;
  text-align: justify;
}
.points {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.point {
  font-weight: 400;
  font-size: 24px;
  & > span {
    margin-right: 12px;
    color: $color--lightgray;
  }
  & > p {
    color: $color--blue;
    display: inline;
  }
}
