@import './src/shared/styles/colors';

.wrap {
  display: flex;
  flex-direction: column;
  padding: 140px 200px 160px 200px;
  color: $clr-primary-text;
  background-color: $clr-powder-blue;
  border-radius: 20px;
  gap: 80px;
}
