@import '../../styles/colors.scss';

.tag {
  border-radius: 100px;
  padding: 8px 12px;
  height: fit-content;
  white-space: nowrap;

  &[data-theme='light'] {
    color: $clr-light-blue;
    background: $clr-bg;
  }
  &[data-theme='blue'] {
    color: $clr-light-powder-blue;
    background: $clr-accent-blue-light;
  }
}
