@import '../../../../styles/design-tokens.scss';
@import '../../../../styles/mixins.scss';

.title {
  @include heading-lg;
  text-align: center;
  color: var(--color-neutral-900);
  margin-bottom: var(--space-4);
}

.subtext {
  @include body-lg;
  color: var(--color-neutral-700);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
