.container {
  display: flex;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
