@import '../../../styles/design-tokens.scss';

.input_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  @media (max-width: 425px) {
    min-width: 100%;
  }
}

.input_label {
  font-weight: var(--font-bold);
  color: var(--color-primary-800);
  &[data-theme='true'] {
    color: var(--color-primary-600);
  }
}

.select {
  box-sizing: border-box;
  display: block;
  border: none;
  border-bottom: 1px solid var(--color-primary-400);
  outline: none;
  padding: 0.5rem 0.5rem;
  color: var(--color-primary-800);
  width: 80%;
  background: transparent;
  &[data-theme='true'] {
    &:focus {
      color: var(--color-primary-800);
      border-bottom: 1px solid var(--color-primary-600);
    }
  }
  &[data-theme='false'] {
    &:focus {
      color: var(--color-primary-800);
      border-bottom: 1px solid var(--color-primary-600);
    }
  }
  &::placeholder {
    color: var(--color-primary-500);
  }
}
