@import '../../../../styles/design-tokens.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  margin: 6.25rem 0 0;
}

.container {
  width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1200px) {
    width: 100%;
    padding: 0 20px;
  }
}

.block {
  display: flex;
  gap: 7.5rem;
  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.columnLeft,
.columnRight {
  display: flex;
  flex-direction: column;
  @media (max-width: 1200px) {
    align-items: center;
  }
}

.columnLeft {
  gap: 4.6rem;
}

.columnRight {
  gap: 1rem;
}

.aboutUs {
  font-family: Montserrat;
  font-size: var(--text-6xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: $color--text-dark;
  text-wrap: nowrap;
  line-height: 3.625rem;
}

.aboutUsImage {
  width: 30.5rem;
  height: 40.6rem;

  & img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1200px) {
    width: 100%;
    height: 100%;
  }
}

.ourTeamImage {
  width: 36.875rem;
  height: 25rem;
  margin: 0 0 2rem;
  & img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 1200px) {
    width: 100%;
    height: 100%;
  }
}

.info {
  text-align: left;
  color: $color--text-light;

  @media (max-width: 1200px) {
    text-align: center;
  }
}

.infoBold {
  font-weight: var(--font-bold);
  margin-bottom: 20px;
}

.buttonBlock {
  display: flex;
  align-self: flex-end;
  margin-top: auto;

  @media (max-width: 1200px) {
    align-self: center;
  }
}
