.fadeInSection {
  opacity: 0;
  transform: translateY(20vh);
  transition:
    opacity 200ms ease-out,
    transform 600ms ease-out;
  will-change: opacity, transform;
}

.fadeInSection.isVisible {
  opacity: 1;
  transform: none;
}
