@import '../../../../styles/colors.scss';

.success {
  // padding: 4rem 2rem;
  // background-color: $color--white;
  // border-radius: 20px;
  // background-color: $color--white;
  // box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  // width: fit-content;
  // margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: $color--text-dark;
  }

  p {
    // max-width: 800px;
    // margin: 0 auto 1rem;
    font-size: 20px;
    color: $color--text-dark;
    line-height: 1.6;
  }

  ul {
    // max-width: 800px;
    // margin: 0 auto 2rem;
    // padding-left: 1.5rem;
    color: $color--text-dark;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
