@import '../../../../styles/colors.scss';

.success {
  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: $color--text-dark;
  }

  p {
    font-size: 20px;
    color: $color--text-dark;
    line-height: 1.6;
  }

  ul {
    color: $color--text-dark;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
