@import '../../styles/design-tokens.scss';
@import '../../styles/colors.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-4xl);
  padding: 16px 32px;
  gap: 8px;
  color: $color--background;
  border: none;
  font-size: var(--text-base);
  cursor: pointer;
  transition: all 0.2s;

  &[data-size='medium'] {
    padding: 9px 16px;
  }

  &[data-full-width='true'] {
    width: 100%;
  }

  &__solid {
    background-color: $color--primary;
  }
  &__bordered {
    color: $color--primary;
    border: 2px solid $color--primary;
    background-color: transparent;
    font-weight: var(--font-bold);
    &:hover {
      background-color: $color--primary;
      color: $color--background;
    }
  }
  &__ghost {
    background-color: $color--lightblue;
    &:hover {
      background-color: $color--primary;
    }
  }
}
