@import '../../../../../../styles/design-tokens.scss';
@import '../../../../../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 285px;
  height: 149px;
  border-radius: 20px;
  border: 1px solid $color--white;
  padding: 16px;
  box-sizing: border-box;
}
.title {
  color: $color--lightblue;
  font-family: $font-family-title;
  font-size: 60px;
  font-weight: var(--font-bold);
}
