@import '../../../../../../styles/design-tokens.scss';
@import '../../../../../../styles/colors.scss';
@import '../../../../../../styles/mixins.scss';

.container {
  @include card-premium;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 285px;
  height: 149px;
  border-radius: var(--radius-2xl);
  border: 1px solid $color--background;
  padding: 16px;
  box-sizing: border-box;

  &:hover {
    transform: none;
    border: 1px solid $color--background;
    box-shadow: var(--shadow-md);
  }
}
.title {
  color: $color--lightblue;
  font-size: var(--text-6xl);
  font-weight: var(--font-bold);
}
