@import '../../styles/design-tokens.scss';
@import '../../styles/colors.scss';

.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 63px;
  left: 0;
  transition: all 0.5s;
  overflow: hidden;
  &[menu-active='true'] {
    display: block;
    transform: translate(0, 0);
  }
  &[menu-active='false'] {
    display: block;
    transform: translate(-150%, 0);
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.content {
  width: 100%;
  height: 100%;
  background-color: $color--background;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    display: none;
  }
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 60px 40px;
  align-items: flex-start;
}

.listElement {
  display: block;
  font-size: var(--text-4xl);
  line-height: 48px;
  > a,
  a:hover {
    text-decoration: none;
    color: $color--primary;
  }
}

.item {
  color: var(--color-neutral-0) !important;
}

.active {
  color: $color--primary !important;
}
