@import '../../../../styles/design-tokens.scss';
@import '../../../../styles/mixins.scss';

.content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.title {
  @include heading-lg;
  margin-bottom: var(--space-6);
  font-size: var(--text-6xl);
}

.text {
  @include body-lg;
  font-size: var(--text-xl);
  margin-bottom: var(--space-16);
  opacity: 0.95;
  line-height: var(--leading-relaxed);
  font-size: var(--text-2xl);
}

.paragraph {
  @include body-lg-bold;
  color: var(--color-primary-800);
  line-height: var(--leading-relaxed);
  margin-bottom: var(--space-6);
  background: rgba(255, 255, 255, 0.4);

  &:last-child {
    margin-bottom: 0;
  }
}
