@import '../../../../styles/design-tokens.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  margin-top: -50px;
  padding: 150px 0 100px;
  border-radius: var(--radius-top-left);
  background: $color--white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1200px) {
    padding: 150px 20px 100px;
  }
}

.sectionTitle {
  width: 1200px;
  font-family: Montserrat;
  font-size: var(--text-6xl);
  font-weight: var(--font-bold);
  color: $color--text-dark;
  text-transform: uppercase;
  padding: 0 0 100px;

  @media (max-width: 1200px) {
    width: 100%;
  }
}
.rowsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.sectionRow {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 100px;

  &:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-end;
    @media (max-width: 1200px) {
      flex-direction: column-reverse;
    }
  }
  &:nth-child(even) {
    align-self: flex-start;
    justify-content: flex-start;
  }

  &:last-child {
    padding: 0 0 100px;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  & .textContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    & .title {
      font-size: var(--text-2xl);
      color: $color--text-dark;
    }

    & .description {
      text-align: justify;
    }

    & .listElement {
      display: flex;
      align-items: center;
      gap: 1rem;

      & img {
        width: 24px;
        height: 24px;
      }
    }

    & .button {
      margin-top: 1rem;
    }
  }
  & .image {
    width: 50%;
    justify-self: flex-end;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
