@import '../../../../styles/colors.scss';

.wrapper {
  margin-top: -50px;
  padding: 150px 0 100px;
  border-radius: 20px 20px 0 0;
  background: $color--white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    padding: 150px 20px 100px;
  }
}

.sectionTitle {
  width: 1200px;
  font-family: Chakra Petch;
  font-size: 3.75rem;
  font-weight: 700;
  color: $color--text-dark;
  text-transform: uppercase;
  padding: 0 0 100px;

  @media (max-width: 1200px) {
    text-align: center;
    width: 100%;
  }


}
.rowsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

}

.sectionRow {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 100px;

  &:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-end;
    @media (max-width: 1200px) {
      flex-direction: column-reverse;

    }
  }
  &:nth-child(even) {
    align-self: flex-start;
    justify-content: flex-start;
  }

  &:last-child {
    padding: 0 0 100px;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  & .textContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    & .title {
      font-size: 1.5rem;
      color: $color--text-dark
    }

    & .listElement {
      display: flex;
      align-items: center;
      gap: 1rem;

      & img {
        width: 24px;
        height: 24px;
      }
    }

    & .button {
      margin-top: 1rem;
    }
  }
  & .image {
    width: 50%;
    justify-self: flex-end;
  }
}

