@import '../../../styles/design-tokens.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.container {
  display: flex;
  gap: 3rem;
  padding: 2rem;
  border-radius: var(--radius-4xl);
  background: var(--gradient-card-light) !important;

  &[order-reverse='true'] {
    flex-direction: row-reverse;
  }
  &[order-reverse='false'] {
    flex-direction: row;
  }

  @media (max-width: 1200px) {
    &[order-reverse='true'],
    &[order-reverse='false'] {
      flex-direction: column;
    }
  }
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;
  height: 100%;

  p {
    margin-top: 0;
    margin-bottom: var(--space-2);
  }
}

.subtitle {
  @include body-lg-bold;
  color: var(--color-primary-800);
}

.paragraphs {
  @include body-lg-bold;
  padding: var(--space-4);
  background: rgba(255, 255, 255, 0.4);
  border-radius: var(--radius-md);
  margin-bottom: var(--space-4);
  color: var(--color-primary-800);
  height: 100%;
}
.outer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  @include heading-sm;
  color: var(--color-primary-700);
}
.image {
  padding: 16px;
  border: 1px solid transparent;
  border-radius: var(--radius-3xl);
  height: 434px;
  background-color: $color--light;
  @media (max-width: 1200px) {
    display: none;
  }
  img {
    border-radius: var(--radius-3xl);
    height: 100%;
    object-fit: cover;
    @media (max-width: 1200px) {
      width: 100%;
      height: 100%;
    }
  }
}

.getStarted {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background: var(--gradient-card-light) !important;
  border-radius: var(--radius-4xl);
  & .textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

:global(.swiper-button-disabled) {
  color: red;
}
