@import '../../../styles/design-tokens.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.case_studies_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 30px 0 100px;
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    padding: 50px 20px 100px;
  }
}

.filter_section {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
  @media (max-width: 1200px) {
    margin: 0;
  }

  & .filter_by_paragraph_container,
  & .filter_by_title_container {
    max-width: 50%;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    & div {
      padding: 0.5rem 0.75rem;
      height: fit-content;
      border: 2px solid var(--color-primary-700);
      border-radius: var(--radius-md);
      transition: all 0.2s;
      cursor: pointer;
    }

    & .sortButton {
      border: 2px solid var(--color-primary-700);
      color: var(--color-primary-700);
      &:hover {
        background-color: var(--color-primary-700);
        color: var(--color-primary-50);
      }
    }
    @media (max-width: 1200px) {
      max-width: 100%;
      margin: 0 0 30px;
    }
  }
  @media (max-width: 1200px) {
    padding: 0 20px;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.active {
  background-color: var(--color-primary-700);
  border-color: var(--color-primary-700);
  color: var(--color-primary-50);
}

.cases_count {
  font-size: var(--text-2xl);
  @media (max-width: 1200px) {
    padding: 0 20px 50px;
    margin: 0;
  }
}

.pagination_controls {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  min-height: 40px;

  & .prev_button_container,
  & .next_button_container {
    width: 40px;
    height: 40px;
    position: relative;

    & > button {
      cursor: pointer;
      z-index: 10;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
    }

    & .disabled_arrow,
    & .enabled_arrow {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
    }

    & .disabled_arrow {
      transform: rotate(180deg);
    }
  }

  .prev_button_container {
    & .disabled_arrow {
      transform: rotate(360deg);
    }
    & .enabled_arrow {
      transform: rotate(180deg);
    }
  }
}
