@import '../../styles/colors.scss';

.section {
  overflow: hidden;
}

.wrapper {
  padding: 0 0 100px;
  display: flex;
  justify-content: center;
  background-color: $color--extra-lightblue;
  border-radius: 20px 20px 0 0;
  @media (max-width: 1200px) {
    padding: 0 20px 100px;
  }
}

.contentContainer {
  width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

.sectionHeader {
  align-self: flex-start;
  padding-top: 100px;
  font-family: Chakra Petch;
  font-size: 3.75rem;
  line-height: 3.625rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $color--text-dark;

  @media (max-width: 768px) {
    line-height: 3rem;
    font-size: 3rem;
  }
}

.geographyData {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem;

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.tagsContainer {
  margin-top: 50px;
  justify-content: flex-start;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  & div {
    padding: 0.5rem 3rem;
    height: fit-content;
    border: 1px solid $color--lightblue;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
  }

  & .sortButton {
    border: 1px solid $color--lightblue;
    color: $color--lightblue;
    &:hover {
      border-color: $color--light;
      color: $color--light;
      background-color: $color--lightblue;
    }
  }
  @media (max-width: 1200px) {
    max-width: 100%;
    margin: 0 0 30px;
  }

  @media (max-width: 1200px) {
    padding: 0 20px;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.active {
  background-color: $color--blue;
  border-color: $color--blue;
  color: $color--light;
}

.mapImage {
  padding-top: 80px;

  & > img {
    width: 100%;
    height: 100%;
  }
}
