@import './src/shared/styles/colors';

.wrap {
  display: flex;
  flex-direction: column;
  padding: 140px 200px 160px 200px;
  color: $clr-primary-text;
  background-color: $clr-light-powder-blue;
  border-radius: 20px;
  gap: 80px;
  
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 1200px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.iconBlock {
  display: flex;
  gap: 24px;
}

.descHeading {
  font-family: 'GothamProBold', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: $clr-primary-text;
}


.tagList {
  display: flex;
  flex-wrap: wrap;
  width: 488px;
  gap: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 488px;
  font-family: GothamProRegular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: $clr-second-text;

}

.imgBlock {
  padding: 16px;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid $clr-second-text;
}
