@import '../../../styles/mixins.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.grid {
  @include grid-responsive-cols(1, 2, 2);
}

.item {
  display: grid;
}

.container {
  @include container;
  text-align: center;
}

.header {
  margin-bottom: 64px;

  @include mobile {
    margin-bottom: 40px;
  }
}

.title {
  @include heading-xl;
  color: var(--color-light);
  margin-bottom: var(--space-6);

  @include desktop {
    font-size: var(--text-6xl);
  }
}

.subtitle {
  @include body-lg;
  color: $color--light;

  @include desktop {
    font-size: var(--text-2xl);
  }
}
