@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.container {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--bg-primary);
}

.content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.title {
  @include heading-lg;
  @include gradient-primary-to-light;
  color: var(--text-primary);
}

.text {
  @include body-lg;
  color: $color--light;
}

.buttonWrapper {
  margin-top: 16px;
}
