@import './src/shared/styles/colors';
@import './src/shared/styles/fonts';

.wrap {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
  width: 489px;
  height: 293px;
  border: 1px solid $clr-second-text;
  border-radius: 20px;

}

.info {
  display: flex;
  gap: 10px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 100px;
}

.person {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  color: $clr-primary-text;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.title {
  color: $clr-light-blue;
  font-family: $font-primary;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.description {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: $clr-second-text;
}
