$color--text-dark: #343a40;
$color--text-light: #6c757d;
$color--blue: #007bff;

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0px 80px;
  text-align: center;

  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    color: $color--text-dark;
    margin-bottom: 3rem;
    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }

  .subheadline {
    font-size: 2rem;
    color: $color--text-light;
    margin-bottom: 1.5rem;
  }

  .intro {
    font-size: 1.25rem;
    color: $color--text-dark;
    max-width: 800px;
    margin: 0 auto;
    text-wrap: balance;
  }
}
