@import '../../../../styles/design-tokens.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 100px;

  @media (max-width: 1200px) {
    flex-direction: column;
    padding: 50px 20px 100px;
  }
}

.blockPrimary {
  width: 100%;
}

.blockSecondary {
  width: 100%;
  @media (max-width: 768px) {
    margin: 30px 0 0 0;
  }
}

.textPrimary {
  text-align: left;
  font-family: Montserrat;
  font-size: var(--text-6xl);
  font-weight: var(--font-bold);
  line-height: 3.625rem;
  color: $color--text-dark;
  @media (max-width: 768px) {
    width: 100%;
    font-size: var(--text-5xl);
    line-height: 3rem;
  }
}

.textSecondary {
  text-align: right;
  font-size: var(--text-2xl);
  line-height: 1.75rem;
  color: $color--text-light;
  @media (max-width: 768px) {
    text-align: left;
  }
}

.textSecondaryBlue {
  color: $color--blue;
}
