@import './src/shared/styles/colors';
@import './src/shared/styles/fonts';

.wrap {
  display: flex;
  flex-direction: column;
  padding: 140px 200px 160px 200px;
  color: $clr-primary-text;
  background-color: $clr-light-powder-blue;
  border-radius: 20px 20px 0 0;
  gap: 80px;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 40px;
}

.arrowBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 40px 4px 0;
  min-width: 310px;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

}

.iconBlock {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

.personsBlock {
  display: flex;
  gap: 20px;
}
