$color--primary: #308280;
$color--background: #0b161c;
$color--light: #fff;

$color--primary-alt: #2f7f7d;
$color--neutral: #a4b3b6;

$color--lightblue: #90a7ff;
$color--extra-lightblue: #eaf0ff;

$color--container-blue: #d8e3ff;

$color--text-blue: #3f63ea;
$color--text-light: #4f4f4f;
$color--text-dark: #1f1f1f;
