@font-face {
  font-family: 'EtaCar Sans';
  src:
    url('/fonts/EtaCarSans-Semibold.woff2') format('woff2'),
    url('/fonts/EtaCarSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EtaCar Sans';
  src:
    url('/fonts/EtaCarSans-Thin.woff2') format('woff2'),
    url('/fonts/EtaCarSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EtaCar Sans';
  src:
    url('/fonts/EtaCarSans-Light.woff2') format('woff2'),
    url('/fonts/EtaCarSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EtaCar Sans';
  src:
    url('/fonts/EtaCarSans-Black.woff2') format('woff2'),
    url('/fonts/EtaCarSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
