@import '../styles/design-tokens.scss';
@import '../styles/colors.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  color: $color--text-light;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 260px;
}
