@import '../styles/fonts.scss';
@import '../styles/design-tokens.scss';
@import '../styles/colors.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

strong {
  color: $color--primary;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: $color--background;
  color: $color--text-light;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: var(--color-neutral-700);
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 260px;
}
