@import '../../../../styles/colors.scss';

.container {
  padding: 100px 0 50px;
  margin-top: -50px;
  border-radius: 20px 20px 0 0;
  @media (max-width: 1200px) {
    padding: 100px 20px 50px;
  }
}
.container_inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto 100px;
}
.pageTitle {
  width: 100%;
  color: $color--text-dark;
  font-family: $font-family-title;
  font-size: 60px;
  line-height: 58px;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  width: 100%;
  color: $color--text-dark;
  font-family: $font-family-title;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }
}
