@import '../../../../styles/design-tokens.scss';
@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.content {
  text-align: center;
}

.title {
  @include heading-lg;
  @include gradient-primary-to-light;
  font-size: var(--text-6xl);
  margin-bottom: var(--space-16);
}

.grid {
  @include grid-responsive-cols(1, 2, 3);
}
