@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $color--background;
}

.main {
  flex: 1;
}
