@import '../../styles/colors.scss';

.container {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  font-family: $font-family-title;
  font-weight: 600;
  max-width: 1200px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 42px;
}
.item {
  text-decoration: none;
  color: $color--lightgray;

  &__active {
    color: $color--blue;
  }
}
