@import '../../../styles/colors.scss';

.button {
  cursor: pointer;
  width: 13rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  border-radius: 2.5rem;

  &[button-theme='blue'] {
    color: $color--light;
    background-color: $color--blue;
    border: 1px solid $color--blue;
  }
  &[buttone-theme='lightblue'] {
    color: $color--light;
    background-color: $color--lightblue;
    border: 1px solid $color--lightblue;
  }

  > div {
      &[font-weight='400'] {
      font-weight: 400;
      }   
      &[font-weight='700'] {
      font-weight: 700;
      }   
    }
}