@import './src/shared/styles/colors';

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  gap: 40px;
  background: $clr-bg;
  border-radius: 16px;
  transition: background 0.3s, color 0.3s, border-radius 0.3s;

  &:hover {
    background: $clr-accent-blue-light;
    color: $clr-bg;
    border-radius: 100px;
  }

  svg {
    transition: transform 0.3s;
  }
}

.text {
  width: 275px;
  font-family: 'GothamProMedium', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
