@import '../../styles/colors.scss';

.review {
  max-width: 500px;
  height: 300px;
  border: 1px solid $color--text-light;
  border-radius: 20px;
  padding: 16px;
  @media (max-width: 1200px) {
    height: fit-content;
  }
}

.review_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review_header {
  display: flex;
  gap: 10px;
}

.name {
  color: $color--text-dark;
  font-weight: 700;
}

.company {
  color: $color--text-blue;
  font-size: 12px;
}

.swiper {
  overflow: hidden;
}
.swiper_wrapper {
  display: inline-flex;
}

.label {
  font-size: 24px;
  color: $color--text-dark;
  &[data-text-color='dark'] {
    color: $color--light;
  }
}

.arrows {
  display: flex;
  justify-content: end;
  @media (max-width: 1200px) {
    justify-content: flex-start;
  }
}

.partners {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 1rem;
  }
}
