@import '../../styles/design-tokens.scss';
@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.container {
  text-align: center;
}

.title {
  @include heading-lg;
  margin-bottom: var(--space-8);
  font-size: var(--text-6xl);
}

.review {
  height: 300px;
  border: 1px solid $color--text-light;
  border-radius: var(--radius-2xl);
  padding: 16px;
  @media (max-width: 1200px) {
    height: fit-content;
  }
}

.review_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review_header {
  display: flex;
  gap: 10px;
}

.name {
  color: $color--text-dark;
  font-weight: var(--font-bold);
}

.company {
  color: $color--text-blue;
  font-size: var(--text-xs);
}

.swiper {
  overflow: hidden;
}
.swiper_wrapper {
  display: inline-flex;
}

.label {
  @include body-large;
  color: var(--color-neutral-700);
  margin-bottom: var(--space-8);
  line-height: var(--leading-relaxed);
  text-align: center;
  font-size: var(--text-2xl);
}

.arrows {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-16);
  @media (max-width: 1200px) {
    justify-content: flex-start;
  }
}
