@import '../../styles/colors.scss';

.divider {
  font-size: var(--text-2xl) !important;
  font-weight: var(--font-semibold) !important;
  margin: var(--space-4) 0;
  color: $color--light !important;

  &[data-has-title='false'] {
    background: var(--color-neutral-200);
    height: 1px;
  }

  &::after,
  &::before {
    border-block-start: 1px solid var(--color-neutral-200) !important;
  }
}
