@import '../../styles/design-tokens.scss';
@import '../../styles/colors.scss';

.divider {
  font-size: var(--text-base) !important;
  font-weight: var(--font-semibold) !important;
  margin: var(--space-5) 0 !important;
  color: $color--primary !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &[data-has-title='false'] {
    background: transparent;
    height: 1px;
    margin: var(--space-6) 0 !important;

    &::after,
    &::before {
      border-block-start: 1px solid rgba(255, 255, 255, 0.08) !important;
    }
  }

  &::after,
  &::before {
    border-block-top: 1px solid rgba(48, 130, 128, 0.3) !important;
  }
}
