$clr-bg: #FAFBFF;
$clr-primary-text: #1F1F1F;
$clr-second-text: #4F4F4F;
$clr-accent-blue: #1D14BF;
$clr-accent-blue-light: #90A7FF;
$clr-light-grey: #D1D1D1;
$clr-link: #90A7FF;
$clr-light-powder-blue: #D8E3FF;
$clr-powder-blue: #EAF0FF;


