@import 'colors';

.our-mission {
  display: flex;
  flex-direction: column;
  padding: 140px 200px;
  color: $clr-primary-text;
  background-color: $clr-light-powder-blue;
  border-radius: 20px;


  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__main-text {
    width: 340px;
    font-family: Chakra Petch, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -2px;
    text-align: left;
    margin-bottom: 80px;
  }

  &__description {
    width: 488px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__description-text {
    width: 488px;
    font-family: Gotham Pro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: $clr-second-text;


  }

  &__mission-list {
    list-style-type: none;
    padding: 0;

    &__li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 12px;
      font-family: Gotham Pro, sans-serif;
      font-size: 16px;
    }
  }

}


