@import '../shared/fonts/gotham-pro/fonts';
@import "../shared/styles/colors";

body, html {
  height: 100%;
  margin: 0;
  background-color: #FAFBFF;
  font-family: 'Gotham Pro', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

section {
  padding: 8.75rem 12.5rem 6.875rem;
  background-color: #FAFBFF;
}

h2 {
  font-family: "Chakra Petch";
  color: $clr-primary-text;
  font-size: 3.75rem;
  line-height: 3.625rem;
  margin: 0;
}