@import '../../../../styles/colors.scss';

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 100px;
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    padding: 50px 20px 100px;
  }
}

.title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: $color--text-dark;
  line-height: 60px;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $font-family-title;
  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }
}

.div1 {
  align-self: flex-end;
  text-align: end;
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 2 / 3 / 3;
  text-align: start;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
  text-align: end;
}
