@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/fonts';

.wrap {
  display: flex;
  padding: 140px 200px;
  align-items: flex-end;
  height: 368px;
  color: $clr-primary-text;
}

.mainText {
  width: 590px;
  font-size: 90px;
  font-weight: 700;
  font-family: $font-primary;
  letter-spacing: -2px;
  text-align: right;
  line-height: 92px;
  margin-right: 40px;
}

.colorText {
  color: $clr-accent-blue;
}

.right {
  display: flex;
  align-items: flex-end;
}

.text {
  width: 285px;
  margin-right: 90px;
  font-family: $font-primary;
  line-height: 23px;
  color: $clr-second-text;

}

.getStarted {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 8px;
  width: 192px;
}

.projectText {
  font-size: 14px;
  text-align: center;
  color: $clr-accent-blue-light;
}
