@import '../../../../styles/design-tokens.scss';
@import '../../../../styles/colors.scss';

.container {
  text-align: center;
  padding: 40px 20px;
  background-color: $color--container-blue;
  border-radius: 16px;
  margin-bottom: 40px;
}

.title {
  font-size: 28px;
  font-weight: var(--font-bold);
  margin-bottom: 16px;
}

.text {
  font-size: 16px;
  margin-bottom: 24px;
}

.button {
  display: flex;
  justify-content: center;
}
