@import './src/shared/styles/colors';
@import './src/shared/styles/fonts';

.fieldBase {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fieldOther {
  @extend .fieldBase;
  gap: 20px;
}

.labelBase {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: $clr-second-text;

  span {
    color: $clr-accent-blue;
  }
}

.labelOther {
  @extend .labelBase;
  color: #FAFBFF;

  span {
    color: $clr-accent-blue-light;
  }
}

.inputBase {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 10px;
  border: none;
  transition: border-color 0.3s;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  background-color: transparent;

  &::placeholder {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
  }

  &:focus {
    outline: none;
  }
}

.input {
  @extend .inputBase;
  height: 47px;
  border-bottom: 1px solid $clr-accent-blue-light;
  color: $clr-accent-blue-light;

  &::placeholder {
    color: $clr-accent-blue-light;
  }

  &:focus {
    border-bottom-color: $clr-accent-blue;
  }

  &:hover {
    border-bottom-color: $clr-accent-blue;
  }
}

.grey {
  @extend .inputBase;
  height: 47px;
  border-bottom: 1px solid $clr-light-grey;
  color: $clr-grey-text;

  &::placeholder {
    color: $clr-grey-text;
  }

  &:focus {
    border-bottom-color: $clr-second-text;
  }

  &:hover {
    border-bottom-color: $clr-second-text;
  }
}

.inputBig {
  @extend .inputBase;
  height: 82px;
  border: 1px solid $clr-accent-blue-light;
  border-radius: 12px;
  color: $clr-accent-blue-light;

  &::placeholder {
    color: $clr-accent-blue-light;
  }

  &:focus {
    border-color: $clr-accent-blue;
  }

  &:hover {
    border-color: $clr-accent-blue;
  }
}

.bigGreyInput {
  @extend .inputBase;
  height: 82px;
  border: 1px solid $clr-light-grey;
  border-radius: 12px;
  color: $clr-grey-text;

  &::placeholder {
    color: $clr-grey-text;
  }

  &:focus {
    border-color: $clr-second-text;
  }

  &:hover {
    border-color: $clr-second-text;
  }
}
