@import './src/shared/styles/colors';
@import './src/shared/styles/fonts';

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.fieldsBlock {
  display: flex;
  gap: 20px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 285px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: $clr-second-text;
}

.price {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

.check {
  display: flex;
  gap: 8px;
  font-family: 'GothamProRegular', sans-serif;
  color: $clr-accent-blue-light;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.bottomBlock {
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 0;
  gap: 32px;
}
