@import "../../../../styles/colors.scss";

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  & > div:last-child {
    color: $color--white !important;
    background-color: $color--lightblue;
    cursor: pointer;

    &:hover {
      background-color: $color--blue;
    }
  }
}
