@import '../../../../styles/design-tokens.scss';
@import '../../../../styles/colors.scss';

.container {
  padding: 100px 0 50px;
  margin-top: -50px;
  border-radius: 20px 20px 0 0;
  @media (max-width: 1200px) {
    padding: 100px 20px 50px;
  }
}
.container_inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto 100px;
  @media (max-width: 768px) {
    margin: 0 auto 50px;
  }
}
.title {
  width: 100%;
  color: $color--text-dark;
  font-family: $font-family-title;
  font-size: var(--text-2xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: var(--text-4xl);
    line-height: 36px;
  }
}
