@import '../../../styles/design-tokens.scss';
@import '../../../styles/mixins.scss';

.content {
  text-align: center;
}

.title {
  @include heading-lg;
  color: var(--color-neutral-900);
  margin-bottom: var(--space-12);
}

.grid {
  @include grid-responsive-cols(1, 2, 3);
}
