@import '../../../../styles/design-tokens.scss';
@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.content {
  text-align: center;
}

.title {
  @include heading-lg;
  @include gradient-primary-to-light;
}

.subtext {
  @include body-lg;
  color: $color--light;
  margin-bottom: var(--space-16);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--text-2xl);
}

.grid {
  @include grid-responsive-cols(1, 2, 3);
  text-align: left;
}

.cardItem {
  position: relative;
  padding-top: var(--space-12);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  align-content: center;
  color: var(--color-primary);
  font-size: var(--text-3xl);
  font-weight: var(--font-bold);
}

.cardTitle {
  @include heading-sm;
  font-size: var(--text-xl);
  font-weight: 700;
  color: var(--color-primary);
  margin: var(--space-4) 0 0;
}

.cardDescription {
  @include body-lg-bold;
  color: var(--color-primary-800);
  line-height: var(--leading-relaxed);
  padding: var(--space-4) 0 0;
  height: 100%;
}
