@import '../../styles/design-tokens.scss';
@import '../../styles/colors.scss';

.container {
  padding: 100px 0 100px;
  margin-top: -50px;
  border-radius: var(--radius-top-left);
  @media (max-width: 1200px) {
    padding: 100px 20px 100px;
  }

  &[data-theme='light'] {
    background: $color--white;
  }
  &[data-theme='dark'] {
    background: $color--text-dark;
  }
  &[data-theme='blueLight'] {
    background: $color--container-blue;
  }
  &[data-theme='extraLight'] {
    background: $color--extra-lightblue;
  }
}
.container_inner {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  max-width: 500px;
  color: $color--text-dark;
  font-size: var(--text-6xl);
  font-weight: var(--font-bold);
  margin-bottom: 100px;
  white-space: pre-line;
  line-height: 58px;

  @media (max-width: 768px) {
    font-size: var(--text-3xl);
    line-height: 2rem;
    margin-bottom: 50px;
  }

  &[data-title-color='dark'] {
    color: $color--light;
  }
}

.subtitle {
  max-width: 600px;
  color: $color--text-dark;
  font-size: var(--text-xl);
  margin-bottom: 60px;
  line-height: 24px;
  opacity: 0.9;

  &[data-title-color='dark'] {
    color: $color--light;
  }

  @media (max-width: 768px) {
    font-size: var(--text-base);
    margin-bottom: 30px;
  }
}
