@import '../../../../../../styles/design-tokens.scss';
@import '../../../../../../styles/colors.scss';

.container {
  display: flex;
  gap: 3rem;
  background-color: $color--container-blue;
  padding: 2rem;
  border-radius: 40px;

  &[order-reverse='true'] {
    flex-direction: row-reverse;
  }
  &[order-reverse='false'] {
    flex-direction: row;
  }

  @media (max-width: 1200px) {
    &[order-reverse='true'],
    &[order-reverse='false'] {
      flex-direction: column;
    }
  }
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;

  p {
    margin-top: 0;
  }
}
.outer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  color: $color--text-dark;
  font-size: var(--text-2xl);
  font-weight: var(--font-medium);
}
.image {
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 36px;
  height: 434px;
  background-color: $color--light;
  @media (max-width: 1200px) {
    text-align: center;
    height: fit-content;
  }
  img {
    border-radius: 36px;
    height: 434px;
    @media (max-width: 1200px) {
      width: 100%;
      height: 100%;
    }
  }
}

.getStarted {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: $color--extra-lightblue;
  border-radius: 40px;
  & .textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

:global(.swiper-button-disabled) {
  color: red;
}
