@import '../../styles/design-tokens.scss';
@import '../../styles/colors.scss';

@mixin flexContainer($justify: flex-start, $align: flex-start, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin secondaryText {
  font-size: var(--text-sm);
  text-align: left;
  color: $color--light;
}

@mixin primaryText {
  font-weight: var(--font-bold);
  text-align: left;
  color: $color--primary;
}

@mixin center {
  margin: 0 auto;
  max-width: 1200px;
}

@mixin linkText {
  color: $color--lightblue;
  text-align: left;
  & a,
  & a:visited {
    color: var(--color-light);
    padding-right: var(--space-1);
    text-decoration: none;
  }
}

@mixin linkBlock {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    border-bottom: 1px solid var(--color-light);
  }
}

@mixin footerText {
  font-size: var(--text-xs);
  color: $color--light;
}

.footer {
  padding: 100px 0 100px;
  margin-top: -50px;
  border-radius: var(--radius-top-left);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: 0px -4px 12px 0px #b2b2b20a;
  @media (max-width: 1200px) {
    padding: 100px 20px 100px;
  }
  @media (max-width: 768px) {
    padding: 100px 20px 50px;
  }
}

.container {
  @include flexContainer(flex-start, flex-start, row, 66px);
  @include center;
  @media (max-width: 768px) {
    @include flexContainer(flex-start, flex-start, column, 1rem);
  }
}

.address {
  @include flexContainer(flex-start, flex-start, column, 0px);
}

.address__title {
  @include primaryText();
}

.addressAndContacts__textContext {
  margin: 6px 0 0 0;
  @include secondaryText();
}

.contacts {
  @include flexContainer(flex-start, flex-start, column, 0);
}
.contacts__title {
  @include primaryText();
}

.contacts__info {
  @include flexContainer(flex-start, flex-start, column, 0px);
}
.addressAndContacts__textContext {
  margin: 6px 0 0 0;
  @include secondaryText();
}

.link__container {
  @include flexContainer(space-between, flex-start, row, 0px);
  padding: 30px 0 80px;
  @include center;
  @media (max-width: 768px) {
    @include flexContainer(flex-start, flex-start, column, 1rem);
  }
}
.info__links,
.linkedIn__link {
  @include flexContainer(flex-start, flex-start, row, 0px);
}

.info__links {
  @include flexContainer(flex-start, flex-start, row, 70px);
}

.linkGetInTouch,
.linkGoogleMap,
.linkLinkedIn {
  @include linkBlock();
}
.getInTouch {
  @include linkText();
}
.googleMap {
  @include linkText();
}

.linkedIn__link {
  @include flexContainer(flex-end, flex-start, row, 0px);
}
.linkedIn {
  @include linkText();
}

.linkIcon {
  @include flexContainer(flex-start, center, row, 0px);
}
.footerEnd {
  @include flexContainer(space-between, flex-start, row, 0px);
  margin: 60px 0 100px 0;
  @include center;
  @media (max-width: 768px) {
    @include flexContainer(space-between, flex-start, column, 0px);
  }
}
.container__copyright {
  @include flexContainer(flex-start, flex-start, row, 0px);
}
.container__termsAndPrivacy {
  @include flexContainer(space-between, flex-start, row, 16px);
}
.footerEnd__textContent {
  @include footerText();
}
