@mixin white-gradient {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  padding-top: 80px;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  @media (max-width: 768px) {
    padding-top: 40px;
  }
  &::before,
  &::after {
    @include white-gradient;
    content: '';
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 80px; // depends on padding-top
    transform: rotateZ(180deg);
    @media (max-width: 768px) {
      top: 40px;
    }
  }

  &::before {
    left: 0;
    top: 80px;
    @media (max-width: 768px) {
      top: 40px;
    }
  }

  .slide_track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 250px;

    & img {
      height: 40px;
      width: 40px;
      border: 1px solid #d8e3ff;
      border-radius: var(--radius-xl);
      padding: 24px;
    }
  }
}
