@import '../../../../../styles/colors.scss';

.scroller {
  display: flex;
  width: 1500px;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.block {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  margin-right: 20px;
  padding: 24px;
  border: 1px solid $color--lightblue;
  border-radius: 20px;
  flex: none;
}

.techImg {
  width: 40px;
  height: 40px;
}
