@import '../../../styles/design-tokens.scss';
@import '../../../styles/colors.scss';

.review {
  max-width: 500px;
  height: 300px;
  border: 1px solid $color--text-light;
  border-radius: var(--radius-2xl);
  padding: 16px;
}

.review_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review_header {
  display: flex;
  gap: 10px;
}

.review_body {
  &[data-text-color='dark'] {
    color: $color--lightgray;
  }
}

.name {
  color: $color--text-dark;
  font-weight: var(--font-bold);
  &[data-text-color='dark'] {
    color: $color--light;
  }
}

.company {
  color: $color--text-blue;
  font-size: var(--text-xs);
}

.avatar {
  width: 44px;
  border-radius: var(--radius-full);
}

.container {
  display: flex;
  justify-content: space-between;
}
