@import '../../../styles/design-tokens.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.container {
  padding: var(--space-3);
}
.review {
  height: 300px;
  padding: 16px;
  background: var(--gradient-card) !important;
  box-shadow: none !important;
}

.review_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.review_header {
  display: flex;
  gap: 10px;
}

.review_body {
  @include body-lg-bold;
  padding: var(--space-2);
  background: rgba(255, 255, 255, 0.4);
  border-radius: var(--radius-md);
  color: var(--color-primary-800);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  height: 100%;
}

.name {
  color: $color--text-dark;
  font-weight: var(--font-bold);
}

.company {
  color: $color--text-blue;
  font-size: var(--text-xs);
}

.avatar {
  width: 44px;
  border-radius: var(--radius-full);
}

.container {
  display: flex;
  justify-content: space-between;
}
