@import '../../../styles/colors.scss';

.review {
  max-width: 500px;
  height: 300px;
  border: 1px solid $color--text-light;
  border-radius: 20px;
  padding: 16px;
}

.review_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review_header {
  display: flex;
  gap: 10px;
}

.review_body {
  &[data-text-color='dark'] {
    color: $color--lightgray;
  }
}

.name {
  color: $color--text-dark;
  font-weight: 700;
  &[data-text-color='dark'] {
    color: $color--light;
  }
}

.company {
  color: $color--text-blue;
  font-size: 12px;
}

.avatar {
  width: 44px;
  border-radius: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
}
