@import '../../styles/design-tokens.scss';
@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.section {
  // @include section-spacing;
  position: relative;
  padding: var(--space-16) var(--space-4);
  background: $color--background
}

.container {
  @include container;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}
