@import '../../../../../../styles/design-tokens.scss';
@import '../../../../../../styles/colors.scss';

.container {
  display: flex;
  gap: 122px;
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 1rem;
  }
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  p {
    margin-top: 0;
  }
}
.outer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > .navigation {
    margin-bottom: 1rem;
  }
  & > button {
    margin-top: 1rem;
  }
}
.title {
  color: $color--text-dark;
  font-size: var(--text-2xl);
  font-weight: var(--font-medium);
}

.link {
  font-family: var(--font-primary);
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  line-height: 1.5rem;
  text-align: left;
  text-decoration: none;
  color: $color--text-blue;
}

.image {
  align-self: center;
  padding: 16px;
  border: 1px solid;
  border-radius: var(--radius-3xl);
  & > img {
    display: block;
    border-radius: var(--radius-xl);
  }

  img {
    height: 434px;
    @media (max-width: 1200px) {
      width: 100%;
      height: 100%;
    }
  }
}

.paragraph {
  text-align: justify;
}

:global(.swiper-button-disabled) {
  color: red;
}
