@import './src/shared/styles/colors';


.heading {
  text-transform: uppercase;
  color: $clr-primary-text;
  font-family: 'Chakra Petch', sans-serif;

  font-size: 60px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -2px;
  display: inline-block;
  -webkit-background-clip: text;


  &:hover {
    background: linear-gradient(90deg, #FAFBFF 0%, #1D14BF 100%);
    color: transparent;
    -webkit-background-clip: text;

  }

  &.leave {
    background: linear-gradient(90deg, #1F1F1F 0%, #1D14BF 100%);
    color: transparent;
    -webkit-background-clip: text;
  }
}
