@import '../../../../styles/colors.scss';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 100px;
  gap: 30px;

  @media (max-width: 768px) {
    padding: 50px 20px 100px;
    // gap: 48px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  text-align: center;
  gap: 24px;
}

.title {
  font-size: 82px;
  font-weight: 700;
  line-height: 1.05;
  margin: 0;
  color: $color--text-dark;
  font-family: $font-family-title;
  letter-spacing: -1px;

  @media (max-width: 1200px) {
    font-size: 64px;
  }
  @media (max-width: 768px) {
    font-size: 46px;
  }
}

.subheadline {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.55;
  margin: 0;
  color: $color--text-dark;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.trustline {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: $color--text-dark;

  @media (max-width: 768px) {
    font-size: 17px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.facts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px 30px;
  border-radius: 18px;
  font-size: 18px;
  font-weight: 500;
  max-width: 900px;
  border: 1px solid $color--lightblue;

  strong {
    color: $color--blue;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    padding: 24px;
  }
}
